.logo img {
  height: 50%;
  width: 20%;
}

.title {
  font-weight: bold;
}

.s1 {
  border: 1px solid black;
  padding-right: 30%;
  padding-left: 1rem;
}

.s2 {
  border: 1px solid black;
  padding-right: 10%;
  padding-left: 1rem;
}

.payment {
  color: red;
}

.managers {
  border: 1px solid black;
  padding: 2rem;
}

.customers {
  border: 1px solid black;
  padding: 2rem;
}
